---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋 🦆</div>
    <div class="text-5xl font-bold">I'm Truong Ngo</div>
    <div class="text-3xl py-3 font-bold">I code its future</div>
    <div class="py-2">
      <text class="text-lg">
        As a Sophomore in <b>International Business Management at FTU</b>, my mission is to transform complex global operations into scalable, data-driven solutions. I specialize in <b>Data Analysis</b>, bridging the gap between high-level strategy and actionable code to solve the most pressing challenges in international commerce. Let's build what's next.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.facebook.com/truong.ngo.210164/" target="_blank"> Let's connect!</a>
      <a href="https://github.com/truongnq63-hash" target="_blank" class="btn btn-outline ml-5">
        My Github 🙈
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects</div>
  </div>

  <HorizontalCard
    title="ELITE CASE-BASED LEARNING 2025"
    img="/ECBL.jpg"
    desc="A high-stakes case-solving competition designed to challenge economics and business students on strategic analysis and practical decision-making skills."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="TALKSHOW ECC+ 2025"
    img="/ECC+.jpg"
    desc="An orientation and networking event for new students, providing essential early-year guidance and connecting them with faculty and senior members to establish academic and professional direction."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="WEBINAR AI GATEWAY: STAND OUT IN RECRUITMENT"
    img="/AI.jpg"
    desc="A specialized webinar focusing on the transformative role of AI and technology in Human Resources (HR) and recruitment, helping students leverage tech to stand out in the job market."
    url="#"
    badge="FOSS"
  />

  <div>
